:root {
  --yellow: #ffc107;
  --blue: #00a2e0;
  --purple: #003057;
  --black: #2d2926;
  --grey: #707372;
  --pink: #d0016f;
  --orange: #e77723;
  --red: #ef333f;

  --bg-blue: #e7f6fd;
  --bg-yellow: #fefbee;

  --text-color: #222323;

  --highlight-yellow: #f9de80;
  --highlight-blue: #7cd0ef;
  --highlight-purple: #315878;
  --highlight-black: #55534f;
  --highlight-grey: #999d9d;
  --highlight-pint: #d82e89;
  --highlight-orange: #ebac7f;
  --highlight-red: #f15d68;
}

@font-face {
  font-family: "ITC";
  src: url("asserts/itc_regular.otf") format("opentype");
}

@font-face {
  font-family: "ITC-DEMI";
  font-weight: bold;
  src: url("asserts/ITCAvantGardeStd-Demi.otf") format("opentype");
}

body {
  font-family: "ITC", serif;
  margin: 0px;
  padding: 0px;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: fadeIn 1s ease-in;
  transition: opacity 1s ease-in;
}

.flex {
  display: flex;
}

.gap-0 {
  gap: 10px;
}

.gap-1 {
  gap: 20px;
}

.gap-2 {
  gap: 30px;
}

.gap-3 {
  gap: 40px;
}

.col {
  flex-direction: column;
}

.js {
  justify-content: space-between;
}

.ja {
  justify-content: space-around;
}

.jc {
  justify-content: center;
}
.je {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
  align-content: center;
}

/* .max {
  width: 600px;
  height: 400px;
} */

.viewContainer {
  width: 360px;
  height: 360px;
}

.container {
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  transition: all 1s ease-in;
}

h1 {
  color: var(--text-color);
}

p,
small {
  font-family: arial;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

.output {
  position: relative;
  left: 0px;
  bottom: 200px;
  z-index: 10;
}
.hide {
  display: none;
}

.loader {
  width: 100px;
  height: 100px;
  transition: all 1s ease-in;
  z-index: 100;

  animation: spin 2s ease-in-out infinite;
}
.responsive {
  display: flex;
  flex-direction: row;
}

.upload {
  width: 100%;
  height: 40px;
  background: #444;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.icon {
  pointer-events: none;
  color: #fff;
}

.icon-label {
  pointer-events: none;
  width: 200px;
  margin-left: 100px;
  color: #fff;
}

.input-file {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  margin: 20px;
}

.file-input__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 20px;

  font-size: 14px;
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1.5px;
  padding: 10px 12px;
  background-color: var(--blue);
}

.file-input__label svg {
  height: 16px;
  margin-right: 4px;
}

@media screen and (max-width: 480px) {
  .responsive {
    flex-direction: column;
    padding-top: 50px;
  }
}

//animations
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

fade {
  display: none;
  animation: fade 2s ease-in-out;
  -moz-animation: fade 2s ease-in-out; /* Firefox */
  -webkit-animation: fade 2s ease-in-out; /* Safari and Chrome */
  -o-animation: fade 2s ease-in-out; /* Opera */
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
